.counter {
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 280px;
    height: 100px;
    border: solid #000000;
    border-radius: 7px;
    padding-bottom: 50px;
    background-color: #61dafb;
    background-size: 280px;
    font-weight: bold;
    font-size: 50px;
}

.bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 630px;
    border: solid #ab873a;
    background-color: #ab873a;
}

.red {
    color: red;
}

.disabled {
    color: #f6f6f6;
    background: #f6f6f6;
    opacity: 0.5;
}

.reset {
    background-size: 200px;
    text-align: center;
    border-radius: 7px;
    width: 150px;
    display: block;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    font-weight: bold;
    background-color: #61dafb;

}

.inc {
    background-size: 200px;
    text-align: center;
    border-radius: 7px;
    width: 150px;
    display: block;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    font-weight: bold;
    background-color: #61dafb;
}

.set {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btnSet {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 200px;
    border-radius: 7px;
    width: 150px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    font-weight: bold;
    background-color: #61dafb;
}

.input {
    text-align: center;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.5;
    color: #212529;
    background-color: #61dafb;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

